/* css for Hermit page */
.hermit__small {
  display: none;
}

.hermit__container {
  margin-top: 5em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hermit__wrapper {
  width: 100%;
  max-width: 900px;
  padding: 0 1em;
}

.hermit__wrapper p {
  margin: 0.3em 0;
  line-height: 20px;
}

.hermit__wrapper h3 {
  background-color: var(--highlight-font-color);
  color: var(--blk-bg-color);
  border-radius: 5px;
  border: 2px dashed var(--drk-bg-color);
  padding: 0.5em;
  margin: 1em 0;
  text-align: center;
}

.hermit__screenshot {
  width: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.hermit__highlight {
  text-decoration: none;
  color: var(--highlight-green-color);
}

.hermit__highlight:hover {
  color: var(--highlight-font-color);
}

@media (max-width: 425px) {
  .hermit__small {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
  }
  .hermit__small h1 {
    color: #fff;
  }
  .hermit__container {
    display: none;
  }
}
