* {
  padding: 0;
  margin: 0;
}

:root {
  --drk-font-color: #fff;
  --drk-bg-color: #333;
  --blk-bg-color: #000000;
  --light-bg-color: #ddf4be;
  --highlight-font-color: #faff00;
  --base-green-color: #10c500;
  --highlight-green-color: #15ff00;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mukta', sans-serif;
}

a {
  color: var(--highlight-green-color);
  text-decoration: none;
}

p,
ul,
ol,
li,
label,
input {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

.section {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  overflow-x: hidden;
}
